.Technologies {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // background: linear-gradient(0deg, rgba(98,117,255,0.88) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding-bottom: 60px;
    padding-top: 30px;
}