.Calculator {
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5vw;

    
    .return {
        grid-column-start: 1; 
        grid-column-end: 5; 
        // grid-row-start: 1; 
        // grid-row-end: 3; 
        color: green;
    }
}
